/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: sans-serif;
}

/* Utils */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.debug .border {
  border: 2px dashed black;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: lightgray;
}

.bg-gray-large{
  background-color: lightgray;
  min-height: 1200px;
}

header {
  background-color: #3161E0;
}

/* # Navbar */

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > * {
  padding: 10px;
  flex-basis: 20%;
  background-color: #3161E0;
  display: flex;
  justify-content: space-around;
}

.navbar-menu {
  flex-grow: 1;
  text-align: center;
}

.navbar-actions {
  text-align: right;

}

#logo{
  height:65% ;
  cursor: pointer;

}

.header-li{
  display: inline;
}

.navbar-elements{
  color:#ffffff;
  text-decoration: none;
}

button{
  background-color: #ffffff;
  border-radius: 40px;
  font-size: 14px;
  padding: 7px 13px;
  border:none;
  cursor: pointer;
 
}

/* # Jumbotron */

.jumbotron {
  padding: 50px;
  height: 700px;
  background-image:url(..//img/jumbo.png);
  background-size: cover ;
  background-position:;
  background-attachment:local;
  display: flex;
  justify-content: center;
  flex-wrap: ;
}

h1{
  text-align: center;
  color: #ffffff;
  font-size: 64px;
  margin: 50px;
}
.jumbo-description{
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  padding-bottom: 40px;
  line-height: 40px;
}

.jumbo-buttons{
  width: 250px;
  height: 60px;
  font-size: 25px;
  margin-right: 30px;
}

.jumbo-black-buttons{
  width: 400px;
  height: 60px;
  font-size: 25px;
  background-color:#23272A ;
  color: #FFFFFF;
}

.jumbotron .content {
  width: 50%;
  /* height: 100%; */
  /* margin: 0 auto; */
  /*background-color: violet;*/
  text-align: center;
}

/* # Main & sections */
section {
  padding: 50px;
  height: 600px;
}

section > .container {
  height: 100%;
}

.flex > .small-col {
  flex-basis: 40%;
  /*background-color: pink;*/
}

.flex > .large-col {
  flex-basis: 60%;
  /*background-color: dodgerblue;*/
}

.img-studygroup{
  height: 100px%;
}

.title-section{
  font-size: 47px;
 }

 .description-section{
  font-size: 20px;
  margin-top: 25px;
  font-weight: bold;
 }


.flex > .full-col {
  min-height: 500px;
  /*background-color: darkgreen;*/
  padding: 50px;
  text-align: center;
}
.title-end-page{
  font-size: 32px;
  margin: 77px;
  background-image: url(..//img/stars.svg);
  background-position:center;

}
.end-page{
  background-color: #8EA1E1;
  color: #ffffff;
}

/* # Footer */

footer {
  padding: 50px;
  background-color: #23272a;
  /* color: white; */
}

.footer-top {
  height: 450px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #7289DA;
  display: flex;
}

.footer-top .footer-left {
  flex-basis: 30%;
 /* background-color: pink;*/
}

.footer-top .footer-right {
  flex-basis: 70%;
  /*background-color: #20b2aa;*/
}

.footer-nav {
  height: 100%;
  display: flex;
  /* background-color: #fff; */
}

.footer-nav > div {
  flex-basis: 25%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
 /* background-color: aquamarine;*/
}

.footer-bottom > * {
  padding: 5px 10px;
 /* background-color: yellow;*/
}

.footer-list :first-of-type{
  color:#7289DA
}

.footer-li{
  list-style-type: none;
  margin-bottom: 15px;
  color: #ffffff;
  cursor: pointer;
}

.title-footer-low{
  color:#7289DA;
  font-size:35px;
}

.italian-flag{
  margin: 20px 0;
  width: 25px;
  vertical-align: middle;
}

.language-selector{
  background-color: transparent;
  color:#ffffff;
  border-color: transparent;
  margin: 20px 0;
  vertical-align: middle;
}

.social{
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 180px;
}

